.sudoku__camera{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.sudoku__camera-video{
    margin-top: 50px;
    width: 900px;
    height: 900px;
    
}