.sudoku__camera{
    display: flex;
    padding: 2rem 6rem;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.sudoku__camera-video{
    display: flex;
    padding: 2rem 6rem;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    
}